/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url('assets/images/division.png') repeat;
  color: #333;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.flex-class {
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-flex {
  flex-direction: column;
}
.lbl {
  font-size: 16px;
  font-weight: 500;
}
.bold-lbl {
  font-size: 20px;
  font-weight: 600;
}
